@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap');

html,
body {
    font-family: 'Roboto', sans-serif;
    background-color: var(--primary-bg-color);
}

:root {
    --primary-color: #d8092f;
    --primary-hover-color: #a10a26;
    --secondary-color: #232427;
    --light-color: #555555;
    --primary-bg-color: #eff0f9;
    --secondary-bg-color: #faf9ff;
    --card-bg-color: #55555507;
}

/* Background Colors */
.primary-bg {
    background-color: var(--primary-bg-color);
}

.secondary-bg {
    background-color: var(---secondary-bg-color);
}

.red-bg {
    background-color: var(--primary-color);
}

.jumbotron {
    background-color: var(--secondary-bg-color);
}

/* Colors */
.primary-color {
    color: var(--primary-color);
}

/* Buttons */
.primary-button {
    background-color: var(--primary-color);
    border: none;
    color: #ffffff;
    padding: 10px;
    width: 8em;
    font-size: 20px;
    font-weight: 500;
}

.primary-button:hover {
    background-color: var(--primary-hover-color);
    color: #ffffff;
}

.view-product-button {
    background-color: var(--primary-color);
    border: none;
    border-radius: 3px;
    color: #ffffff;
    padding: 10px;
    width: 5em;
    font-size: 13px;
    font-weight: 500;
}

.view-product-button:hover {
    background-color: var(--primary-hover-color);
    color: #ffffff;
}

.add-cart-button {
    background-color: #000000;
    border: none;
    border-radius: 3px;
    color: #ffffff;
    padding: 10px;
    width: 8em;
    font-size: 13px;
    font-weight: 500;
}

.add-cart-button:hover {
    background-color: var(--secondary-color);
    color: #ffffff;
}

.primary-responsive-btn {
    background-color: var(--primary-color);
}

.primary-responsive-btn :hover {
    background-color: var(--primary-hover-color);
}

/* Labels */
.primary-label {
    color: var(--primary-color);
}

.secondary-label {
    color: var(--secondary-color);
}

/* Card */
.card.homepage-card {
    background-color: var(--card-bg-color);
    width: 21rem;
    box-shadow: none;
    transition: 0.3s;
}

.card.homepage-card:hover {
    transform: scale(1.02);
    border: 0;
    box-shadow: #4e4e4e3b 2px 2px 20px 1px;
}

.card-price {
    font-size: 18px;
    color: var(--light-color);
}

.in-stock {
    color: white;
    background-color: var(--primary-color);
    width: 5rem;
    border-radius: 3px;
    text-align: center;
}

.home-img {
    position: relative;
    text-align: center;
}

.overlay {
    position: absolute;
    justify-content: center;
    display: block;
    color: white;
    height: 88.5%;
    width: 100%;
    top: 48px;
    background-color: #000000b4;
}

.promo-text {
    margin-top: 27%;
}

/* Shop Page */
.shop-img {
    position: relative;
    text-align: center;
}

.shop-overlay {
    position: absolute;
    justify-content: center;
    display: block;
    color: white;
    height: 88.8%;
    width: 100%;
    top: 48px;
    background-color: #000000b4;
}

.shop-categories {
    border: solid 0.5px #00000023;
    height: 27rem;
    padding: 10px;
}
